<html>
<div style="display: inline-block">
<p>Dodavanje novog korisnika</p>
<form id="forma" method="post">
    <label for="ime">Ime:</label>
    <input style="margin-left: 10px" type="text" id="ime" name="ime" required><br>

    <label for="spol">Spol:</label>
        <select style="margin-left: 6px; font-size: 16; margin-top: 8px" id="spol" name="spol" required >
            <option -</option>
            <option value="M">M</option>
            <option value="Ž">Ž</option>
        </select><br>

    <label for="dob">Dob:</label>
    <input style="margin-left: 7px; margin-top: 8px" type="number" id="dob" name="dob" required><br>

    <input style="font-weight: 600; margin-top: 7px; background-color: aqua" type="submit" value="Dodaj (POST)" onclick="submitForm('post')">
	<input style="font-weight: 600; margin-top: 7px; background-color: tomato; display: inline; margin-left: 39px" type="submit" value="Dodaj (GET)" onclick="submitForm('get')">
</form>
<script>
    function submitForm(method) {
        var form = document.getElementById('forma');
        form.method = method;
        form.submit();
    }
</script>
</div>