{% extends 'index/base.html.twig' %}

{% block body %}
	<nav>
		<ul>
			<li>
				<a href="/index">Home</a>
			</li>
			<li>
				<a href="">Administration</a>
				<ul>
					<li><a href="/users">Users</a></li>
					<li><a href="/teams">Teams</a></li>
					<li><a href="/projects">Projects</a></li>
				</ul>
			</li>
			<li>
				<a href="/databases">Databases</a>
			</li>
			<li>
				<a href="/organization">Organization</a>
				<ul>
					<li><a href="/requests/vacation">Requests</a></li>
				</ul>
			</li>
		</ul>
		<div class="user-info" style="margin-right: 20px">
			{% if app.user %}
				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Logged:
						{{ app.user.email }}
					</button>
					<a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
				</div>
			{% else %}
				<a href="{{ path('app_login') }}">Login</a>
			{% endif %}
		</div>
	</nav>

	<table border="1">
		<thead>
			<tr>
				<th>Variable Name</th>
				<th>Variable Value</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Variable to Pass</td>
				<td>{{ stats['approved'] }}</td>
			</tr>
		</tbody>
	</table>
{% endblock %}
