{% extends 'base.html.twig' %}

{% block body %}
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/administration">Administration</a>
            <ul>
                <li><a href="/users">Users</a></li>
                <li><a href="/teams">Teams</a></li>
                <li><a href="/projects">Projects</a></li>
            </ul>
        </li>
        <li><a href="/databases">Databases</a></li>
        <li><a href="/organization">Organization</a>
            <ul>
                <li><a href="/requests">Requests</a></li>
            </ul>
        </li>
    </ul>
    <div class="user-info" style="margin-right: 20px">
        {% if app.user %}
            Logged: {{ app.user.email }}
            <a style="margin-left: 10px; color: white" href="{{ path('app_logout') }}" class="logout-button">Logout</a>
        {% else %}
            <a href="{{ path('app_login') }}">Login</a>
        {% endif %}
    </div>
</nav>
{% endblock %}
