{# templates/base.html.twig #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My App</title>

     <style>
        body {
            margin: 0;
            font-family: 'Tahoma';
        }

        nav {
            margin: 0 auto;
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #37bc9b;
            padding: 10px;
        }

        nav ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        nav ul li {
            position: relative;
            margin: 0 20px 0 0;
            float: left;
        }

        nav ul li > a:after {
            content: ' »';
        }

        nav ul li > a:only-child:after {
            content: '';
        }

        nav ul li a {
            padding: 10px;
            display: inline-block;
            color: white;
            text-decoration: none;
        }

        nav ul li a:hover {
            opacity: 0.5;
        }

        nav ul li ul {
            display: none;
            position: absolute;
            left: 0;
            background: #37bc9b;
            float: left;
        }

        nav ul li ul li {
            width: 100%;
            border-bottom: 1px solid rgba(255, 255, 255, .3);
        }

        nav ul li:hover ul {
            display: block;
        }

        .user-info {
            display: flex;
            align-items: center;
        }

        .user-info button {
            margin-left: 20px;
            padding: 10px;
            background-color: #f44336;
            color: white;
            border: none;
            cursor: pointer;
        }

        .user-info button:hover {
            opacity: 0.8;
        }
    </style>
</head>
<body>
    {% if app.user %}
        {% if 'ROLE_ADMIN' in app.user.roles %}
            {% include 'index/admin.html.twig' %}
        {% elseif 'ROLE_EMPLOYEE' in app.user.roles %}
            {% include 'menu_employee.html.twig' %}
        {% else %}
            {% include 'menu_default.html.twig' %}
        {% endif %}
    {% else %}
        {# Guest user menu #}
        {% include 'menu_guest.html.twig' %}
    {% endif %}

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>