{# templates/base.html.twig #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My App</title>
</head>
<body>
    {% if app.user %}
        {% if 'ROLE_ADMIN' in app.user.roles %}
            {% include 'menu_admin.html.twig' %}
        {% elseif 'ROLE_EMPLOYEE' in app.user.roles %}
            {% include 'menu_employee.html.twig' %}
        {% else %}
            {% include 'menu_default.html.twig' %}
        {% endif %}
    {% else %}
        {# Guest user menu #}
        {% include 'menu_guest.html.twig' %}
    {% endif %}

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>