{% extends 'base.html.twig' %}

{% block title %}User registration
{% endblock %}

{% block body %}
	{{ form_start(form) }}
	<div style="margin-left: 10px">
		{{ form_widget(form) }}
	</div>
	<button class="btn">{{ button_label|default('Save') }}</button>
	{{ form_end(form) }}
{% endblock %}
