{{ form_start(form) }}
<div class="form-group">
	{{ form_widget(form) }}
</div>
<button type="submit" class="btn btn-primary">Save</button>
<a href="{{ path('app_user_index') }}" class="btn" style="height: 10px">Back to List</a>

{{ form_end(form) }}
