{% extends 'user/base.html.twig' %}

{% block title %}Edit user
{% endblock %}

{% block body %}
	<h1 style="margin-left: 20px">Edit user</h1>
	<div style="width: 30%; margin-left: 20px">
		{% if form_errors(form) %}
			<div class="form-error-message">
				<p>{{ form_errors(form) }}</p>
			</div>
		{% endif %}
		{{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
	</div>
	<div style="position: absolute; margin-left: 220px; top: 700px">
		{{ include('user/_delete_form.html.twig') }}
	</div>
{% endblock %}
