{% extends 'user/base.html.twig' %}

{% block title %}Edit user
{% endblock %}

{% block body %}
<h1 style="margin-left: 10px">Edit user</h1>
<div style="width: 35%; margin-left: 30px">
	{{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
	{% if form_errors(form) %}
		<div class="alert alert-danger">
			<a>{{ form_errors(form) }}< </div> {% endif %} </div> <div style="position: absolute; margin-left: 230px; top: 646px"> {{ include('user/_delete_form.html.twig') }} </div> {% endblock %}
