{% extends 'user/base.html.twig' %}

{% block title %}New user
{% endblock %}

{% block body %}
	<h1>Create new user</h1>
	<div style="width: 35%; margin-left: 30px">
		{{ include('user/_form.html.twig') }}
		<div>
		{% endblock %}
