{% if vacation_request.teamLeadAction == true and vacation_request.projectLeadAction == true %}
	<td>Approved</td>
{% elseif vacation_request.teamLeadAction is null or vacation_request.projectLeadAction is null and vacation_request.teamLeadAction is null or vacation_request.projectLeadAction is null %}
	<td>In process</td>
{% else %}
	<td>Declined</td>
{% endif %}
