{% if vacation_request.teamLeadAction == true and vacation_request.projectLeadAction == true %}
	<td>Approved</td>
{% elseif (vacation_request.teamLeadAction is null or vacation_request.projectLeadAction is null) and () %}
	<td>In process</td>
{% endif %}
