{% extends 'team/base.html.twig' %}

{% block title %}Edit team
{% endblock %}

{% block body %}
	<div class="register-form" style="width: 20%; margin-left: 30px">
		<h1 style="margin-left: 10px">Edit team</h1>
		{{ include('team/_form.html.twig', {'button_label': 'Update'}) }}
		<div style="position: absolute; margin-left: 180px; top: 380px">
			{{ include('team/_delete_form.html.twig') }}
		</div>
	</div>
{% endblock %}
