{% extends 'team/base.html.twig' %}

{% block title %}Edit Team
{% endblock %}

{% block body %}
	<div class="register-form" style="width: 20%; margin-left: 30px">
		<h1 style="margin-left: 10px">Edit team</h1>
		<div>
			{{ include('team/_form.html.twig', {'button_label': 'Update'}) }}
		</div>
		<div style="position: sticky; margin-left: 200px; margin-top: -31px">
			{{ include('team/_delete_form.html.twig') }}
		</div>
	</div>
	{% block javascripts %}
		{{ parent() }}
		<script>
			// Check if the form has any errors
var formErrors = {{ form_errors(form)|length }};
if (formErrors > 0) { // Show the pop-up window
alert('Do you wish to set the user as leader of the team?');
}
		</script>
	{% endblock %}
{% endblock %}
