{% extends 'team/base.html.twig' %}

{% block title %}New team
{% endblock %}

{% block body %}
	<h1 style="margin-left: 20px">Create new team</h1>
	<div style="width: 35%; margin-left: 30px">
		{{ include('team/_form.html.twig') }}
		<div>
		{% endblock %}
