{% extends 'vacation_request/base.html.twig' %}

{% block title %}New vacation request
{% endblock %}

{% block body %}
<h1 style="margin-left: 20px">Create new vacation request</h1>
	<h1>Create new vacation request</h1>
	<div margin-left: 20px>
		<a style="display: inline-block; margin-bottom: 10px;">Available days for vacation:
			{{ user.vacationDays }}</a>
		{{ include('vacation_request/_form.html.twig') }}
	</div>
{% endblock %}
